@CHARSET "UTF-8";

/** Universal selector */
* {
    color: #222000;
}

body>p {
    color: #000000;
}

/** Type selector */
h1 {
    color: #36CFFF;
}

/** Descendant selector */
ul em {
    color: #000FFF;
}

/** Class selector */
.green {
    color: #00ff00;
}

/** ID selector */
#black {
    color: #000000;
}

/** All H2 with blue */
#blue h2 {
    color: #0000ff;
}

/** Attribute selector */
input[type="text"] {
    color: #0080ff;
}

/** Multiple style rules */
h1 {
    color: #3366cc;
    font-weight: normal;
    letter-spacing: .4em;
    margin-bottom: 1em;
    text-transform: lowercase;
}

/** Grouping Selectors */
h1, h2, h3 {
    color: #00ffff;
    font-weight: normal;
    letter-spacing: .4em;
    margin-bottom: 1em;
    text-transform: lowercase;
}

#content, #footer, #supplement {
    position: absolute;
    left: 510px;
    width: 200px;
}